---
import { Image } from 'astro:assets'

import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import Sponsorship from '@/components/projects/Sponsorship.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import KeyIcon from '@/assets/icons/key.svg'
import wechat from '@/assets/wechat-qrcode.jpg'
import config from '@/site-config'

const headings = [
  { depth: 2, slug: 'programs', text: 'Programs' },
  { depth: 2, slug: 'learnings', text: 'Learnings' },
  { depth: 2, slug: 'others', text: 'Others' },
  { depth: 2, slug: 'gpg-signature', text: 'GPG Signature' },
  { depth: 2, slug: 'sponsorship', text: 'Sponsorship' }
]
---

<PageLayout title='Projects' {headings} info={{ slug: '/projects', hideComment: true }}>
  <p>Github Activities:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/jaisonZheng'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>
  <p>
    If you think it would be useful or interesting to collaborate on a project, you can donate to
    support my work or contact me to discuss a project.
  </p>
  <Button title='Checkout sponsorship' class='w-fit' href='#sponsorship'>
    <Icon class='size-5' name='receive-money' slot='before' />
  </Button>

<!--
  <h2 id='theme'>Theme</h2>
  <ProjectSection
    projects={[
      {
        name: 'ðŸ­ Astro-theme-pure',
        description: 'A simple, clean but powerful blog theme build by astro.',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/astro-theme-pure' },
          { type: 'site', href: 'https://github.com/cworld1/astro-theme-pure' },
          {
            type: 'doc',
            href: 'https://github.com/cworld1/astro-theme-pure/blob/main/src/content/blog/customize/index.md'
          }
        ]
      }
    ]}
  />
-->
  <h2 id='programs'>Programs</h2>
  <ProjectSection
    projects={[
      {
        name: 'ðŸ¸ä¸­å±±å¤§å­¦ç¾½æ¯›çƒæŠ¢åœºè„šæœ¬',
        description:
          '2025ç‰ˆï¼Œä¸»è¦åŸºäºŽpython, selenium, chromedriverå®žçŽ°',
        links: [
          { type: 'github', href: 'https://github.com/jaisonZheng/SYSU-Badminton-Field-Grab-Script' },
          {
            type: 'release',
            href: 'https://github.com/jaisonZheng/SYSU-Badminton-Field-Grab-Script/releases'
          }
        ]
      },
      {
        name: 'ðŸŽ²Prisoners-Dilemma',
        description: 'A website app to imitate prisoner dilemma tournament.',
        links: [
          { type: 'github', href: 'https://github.com/jaisonZheng/Prisoners-Dilemma' },
          { type: 'site', href: 'https://prisoners-dilemma-game.onrender.com' },
          { type: 'doc', href: 'https://github.com/jaisonZheng/Prisoners-Dilemma/blob/master/README.md' }
        ]
      }
    ]}
  />
<!--  <Collapse title='Some old projects'>
    <ProjectSection
      projects={[
        {
          name: 'Search Switcher',
          description: 'Add links to each other in search engines',
          links: [{ type: 'github', href: 'https://github.com/cworld1/search-switcher' }]
        },
        {
          name: 'Pure Baidu',
          description: 'Baidu search page beautification module',
          links: [
            { type: 'doc', href: 'https://cworld0.com/blog/pure-baidu' },
            { type: 'site', href: 'https://userstyles.org/styles/173673/pure' }
          ]
        }
      ]}
    />
  </Collapse>-->

  <h2 id='learnings'>Learnings</h2>
  <ProjectSection
    class='my-2'
    projects={[
      {
        name: 'CS61a Learning',
        description: 'My solutions to homework in CS61a',
        links: [{ type: 'github', href: 'https://github.com/jaisonZheng/codespace_CS61a' }]
      },
      {
        name: 'CS50 Learning',
        description: 'My solutions to homework in CS50',
        links: [
          {
            type: 'github',
            href: 'https://github.com/jaisonZheng?tab=repositories'
          }
        ]
      }
    ]}
  />

  <h2 id='others'>Others</h2>
  <ProjectSection
    projects={[
      {
        name: 'CWorld',
        description: "CWorld's Github",
        links: [{ type: 'github', href: 'https://github.com/cworld1' }]
      },
      {
        name: 'Arthals',
        description: 'Arthals Github',
        links: [{ type: 'github', href: 'https://github.com/zhuozhiyongde' }]
      }
    ]}
  />

 <!-- gpg signature -->
  <!--
  <h2 id='gpg-signature'>GPG Signature</h2>
  <p>
    You can verify the authenticity of the files I signed by checking the GPG signature. My GPG key
    is <code></code>, and you can find it on the opengpg key servers or download from it.
  </p>
  <Button href='https://keys.openpgp.org/search?q=114514' title='Checkout my key' target='_blank'>
    <KeyIcon class='size-5' slot='before' />
  </Button> -->

  <!-- sponsorship -->
  <h2 id='sponsorship'>Sponsorship</h2>
  <p>Please leave a message or contact me proactively after sponsorship.</p>
  <Sponsorship
    methods={[
      { name: 'WeChat', icon: 'wechat-pay', image: wechat },
      { name: 'Alipay', icon: 'alipay', image: alipay }
    ]}
  />
  <p>Thanks to the following sponsors:</p>
  <Sponsors
    sponsors={[
      { name: '', amount: '', date: '' },
      { name: '', amount: '', date: '' },
      { name: '', amount: '', date: '' },
      { name: '', amount: '', date: '' }
    ]}
  />
</PageLayout>

<script
  is:inline
  type='module'
  data-astro-rerun
  define:vars={{ npmCDN: config.npmCDN, walineServer: config.integ.waline.server }}
>
  const loadPageviewCount = async () => {
    const pageview = await import(`${npmCDN}/@waline/client@v3/dist/pageview.js`)
    pageview.pageviewCount({
      serverURL: walineServer,
      path: window.location.pathname
    })
  }

  await loadPageviewCount()
</script>

<style>
  .sponsorship-card {
    & .sponsorship-card-img {
      opacity: 0.3;
      --un-blur: blur(4px);
      filter: var(--un-blur);
    }

    &:hover {
      & .sponsorship-card-icon {
        opacity: 0;
      }
      & .sponsorship-card-img {
        opacity: 1;
        --un-blur: blur(0);
      }
    }
  }
</style>
